*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
/* ####################### Container stying ############### */
.container{
    height: 700px;
    background-image: url('imges/hero-bg.jpg');
    filter: drop-shadow(0.5);
    filter: brightness(0.9);
}

/* ################################ Styling to nav bar  #########################         */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 1.5em;
}
.logo{
font-size: 20px;
font-weight: 800;
font-size: 2.5rem;
color: white;
}
.nav{
display: flex;
justify-content: space-between;
align-items: start;
}
a{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.nav ul{
    list-style: none;
    text-transform: capitalize;
    font-size: 1.2rem;
}
.nav ul li{
    padding: 0.8rem;
}

a:hover{
    color: black;
    text-decoration: underline;
}
/* ################################ Home content styling ###################################### */

.homeContent{
    width: 50%;
    position: relative;
    top: 15%;
    left: 7%;
}

h1{
    font-size: 3em;
    font-weight: 600;
}

.cn1{
    color: black;
}
.cn2{
    color: yellow;
}
.homeContent p{
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 2rem 0rem;
    letter-spacing: 1px;
}

.btn{
    display: flex;
}
.btn-donate {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: rgb(97, 189, 241);
    --btn-bg-2: hsla(217 100% 56% / 1);
    --btn-bg-color: hsla(360 100% 100% / 1);
    --radii: 0.5em;
    cursor: pointer;
    padding: 0.9em 1.4em;
    min-width: 120px;
    min-height: 44px;
    font-size: var(--size, 1rem);
    font-family: "Segoe UI", system-ui, sans-serif;
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    margin-right: 30px;
    color: var(--btn-bg-color);
    box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 233, 70, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
  }
  
  .btn-donate:hover {
    background-position: right top;
  }
  
  .btn-donate:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
  }
  
  @media (prefers-reduced-motion: reduce) {
    .btn-donate {
      transition: linear;
    }
}

/* ########################### maincontent styling ################################# */
.container2{
    display: flex;
    width: 100%;
    padding: 7rem 5rem 5rem 7rem;
}
.container2 .img2{
    display: inline;
}

.content2{
    background-color: white;
    border-radius: 6PX;
    position: relative;
    right: 20px;
    top: 30px;
    height: 325px;
    width: 800px;
    padding: 2rem;
    box-shadow: 1px 1px 1px 1px rgb(196, 194, 194);
}
.content2 h1{
    text-transform: capitalize;
    font-size: 2.2rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.content2 p{
    font-size: 19px;
    margin-bottom: 20px;
}
#bottone1 {
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: #d5f365;
    border: none;
    font-family: inherit;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
}
#bottone1:hover {
    box-shadow: 7px 5px 56px -14px #C3D900;
}
#bottone1:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #C3D900;
}
/* ///////////////////// .container3 styling ///////////////////// */
.container3{
    background-color: black;
    padding: 3rem;
}

.container3 h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-transform:uppercase;
}
hr{
    width: 50px;
    border-radius: 20px;
    border: 2px solid yellow;
    height: 10px;
    background-color: yellow;
    text-align: center;
    position: relative;
    top: 3px;
    left: 48%;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
}
.cards h2{
    text-transform: uppercase;
    padding: 10px 0px;
}
.cards p{
    font-size: 18px;
    font-weight: 200;
    padding: 18px 0px;
   line-height: 25px;
}
.container3 .cards button{
    margin-top: 4rem;
    background-color: brown;
}
.card1{
    padding: 15px;
    height: 100%;
    width: 30%;
    background-color: white;
}
.card2{
    padding: 15px;
    height: 100%;
    width: 30%;
    background-color: white;
}
.card3{
    padding: 15px;
    height: 100%;
    width: 30%;
    background-color: white;
}
.card1,.card2,.card3{
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(196, 194, 194);
}

/* ////////////////////////////////////////// Container 4 styling //////////////////////////// */
.container4{
    padding: 5.5rem;
    text-align: center;
}
.container4 h1{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.container4 img{
    margin: 3rem 0px 0.5rem 0px;
}
.container4 h3{
    text-transform: capitalize;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
}

.container4 p{
   font-size: 1.2rem;
   margin-left: 10px;
   margin-top: 1rem;
}

/* ////////////////////////////////////////////  Contant page /////////////////////////////////// */

.contanctPart{
    padding: 5rem;
    background-image: url('imges/contact-bg.jpg');
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.contanctPart h2{
    font-size: 2rem;
    font-weight: 600;
    font-family: sans-serif;
}
.inputField{
    margin: 3rem;
}
.inputField ::placeholder{
    text-transform: uppercase;
    color: black;
}
.inputField form input{
    padding: 10px;
    display: inline-block;
    margin-bottom: 1.5rem;
    width: 50%;
    color: black;
    height: 3rem;
}
#textArea{
    height: 6rem;
}

/* 33333333333333333333333333333333333333333333333333 Guards designs $#########################     */
.gaurdTeam{
    text-align: center;
    border: 2px solid orange;
    padding: 3rem 3rem 0rem 3rem;
}

.gaurdHeading h1{
    font-size: xx-large;
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif;
}

.gaurdHeading p{
    font-size: 1.2rem;
    font-family: sans-serif;
    text-align: center;
    padding: 0px 40px;
    margin-top: 1.5rem;
}
.gaurdDetails{
    margin: 50px;
}
.gaurdDetails button{
    margin-top: 25px;
}
.gaurdDetails .gcards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gcards .gcard1, .gcards .gcard2,.gcards .gcard3 {
    position: relative;
}

.gName{
    position: absolute;
    bottom: 3px;
    background-color: rgba(0, 0, 0, 0.521);
    color: white;
    text-align: center;
    padding: 1.2rem 0px;
    font-size: 1.3rem;
    font-family: sans-serif;
    width: 370px;
    height: 100px;
}
/* ################################   footer design ############## */
footer{
    color: white;
    background-color: black;
    width: 100%;
    padding: 3rem 5rem 0.2rem 5rem ;
}
.footerDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.footerDiv .footer1,.footerDiv .footer2,.footerDiv .footer3,.footerDiv .footer4{
 width: 25%;
 /* border: 2px solid white; */
 height: 200px;
 margin-right: 15px;
}

.footerDiv .footer1 h2,.footerDiv .footer2 h2,.footerDiv .footer3 h2,.footerDiv .footer4 h2{
    padding-bottom: 1rem;
    text-transform: capitalize;
}
.footer3 img{
   margin-top: 10px;
}
.footerDiv .footer1 p,.footerDiv .footer2 p{
    font-size: 1.3rem;
}
.footer3 span{
    font-size: 1.3rem;
    padding-left: 10px;
}

#femail{
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 1rem;
}
#fsubmit{
    text-transform: uppercase;
    background-color: #bbed05;
    font-size: 0.9rem;
    font-family: sans-serif;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.footer4 input{
    border: 2px solid ;
    width: 10rem;
    padding: 0.7em;
    display: block;
    border-radius: 30px;
}
.myName{
    text-align: center;
    margin-top: 1rem;
    font-family: sans-serif;
    font-size: 1.2rem;
}